li {
    list-style: none;
  }

.admin_body{
  background-color: rgba(114, 142, 123, 0.168);
}


.login_form{
  width:700px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;    
}
header{
  width:700px;
  /* height:50px; */
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  display:flex;
  align-items:center;
  background-color: rgba(114, 161, 123, 0.165);
}

header img{
  /*margin-left:1px;*/
  margin-right:20px;
}

.header_admin {
   /* margin-right:0px;*/
    
}

  header h1{
    /* text-align:center; */
    background-color: rgba(114, 161, 123, 0.165);
    /* margin-left:auto;
    margin-right:auto; */
    /* margin-top:15px; */
  }

.home_button{
  padding-top:5px;
  padding-bottom:5px;
  margin-left:10px;
}

.admin_button{
  padding-top:5px;
  padding-bottom:5px;
  margin-left:10px;
}

.btn_download{
  margin-left:10px;
  background-color: rgb(0, 119, 255);
}

.select_limit{
  margin-left:10px;
}
.logout_button{
  /* padding-top:5px;
  padding-bottom:5px; */
  margin-left:20px;
}

.error_message {
  margin-bottom: 20px;
  padding: 10px;
  color: #ef072d;
  list-style-type: none;
  border-radius: 10px;
  border: 1px solid #ff5f79;
}

.wrapper {
  width:700px;

  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-top:50px;
  padding-bottom:50px;

  background-image: url(./img/DSC04061.JPG);
  background-size:cover;
}

.inner_wrapper {
  width:500px;
  text-align:left;
  background-color: rgba(71, 70, 70, 0.4);
  /* margin-top:50px;
  margin-bottom:50px */;
  margin-left:auto;
  margin-right:auto;
}

.inner_wrapper label{
  color:white;
}

.view_name_wrapper{
  margin-bottom: 25px;
}
.one_phrase_wrapper{
  margin-bottom:25px;
}

textarea {
  width: 90%;
  max-width: 90%;
  height: 70px;
  resize:none;
}

.information{
  display:flex;
  justify-content: space-between;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  background-color: rgb(241, 238, 244);
}

.information_delete{
  width:500px;
  background-color: rgba(114, 142, 123, 0.168);
  justify-content: left;
}
.message_wrapper{
  width:500px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  padding-bottom:10px;
  background-color: rgba(114, 142, 123, 0.168);
}
.thumbnail_viewer{
  width:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  margin-bottom:15px;
}

.message{
  width:500px;
  margin-left:auto;
  margin-right:auto; 
}

.hr{
  width:700px;
  margin-left:auto;
  margin-right:auto;
}



article{
  width:500px;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(114, 161, 123, 0.165);
}