li {
    list-style: none;
  }

.admin_body{
  background-color: rgba(114, 142, 123, 0.168);
}


.login_form{
  width:700px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;    
}
header{
  width:700px;
  height:50px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  display:flex;
}

header img{
  /*margin-left:1px;*/
  margin-right:20px;
}

.header_admin {
    margin-right:0px;
    
}

  header h1{
    /* text-align:center; */

    /* margin-left:auto;
    margin-right:auto; */
    margin-top:15px;
  }

.home_button{
  padding-top:5px;
  padding-bottom:5px;
  margin-left:20px;
}

.admin_button{
  padding-top:5px;
  padding-bottom:5px;
  margin-left:20px;
}
.wrapper {
  width:700px;

  text-align:center;
  margin-left:auto;
  margin-right:auto;
  padding-top:50px;
  padding-bottom:50px;

  background-image: url(./img/DSC04061.JPG);
  background-size:cover;
}

.inner_wrapper {
  width:500px;
  text-align:left;
  background-color: rgba(71, 70, 70, 0.4);
  /* margin-top:50px;
  margin-bottom:50px */;
  margin-left:auto;
  margin-right:auto;
}

.inner_wrapper label{
  color:white;
}

.view_name_wrapper{
  margin-bottom: 25px;
}
.one_phrase_wrapper{
  margin-bottom:25px;
}

textarea {
  width: 90%;
  max-width: 90%;
  height: 70px;
  resize:none;
}

.information{
  display:flex;;
  justify-content: space-between;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  background-color: rgb(241, 238, 244);
}

.message_wrapper{
  width:500px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom:10px;
  padding-bottom:10px;
  background-color: rgba(114, 142, 123, 0.168);
}
.thumbnail_viewer{
  width:400px;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  margin-bottom:15px;
}

.message{
  width:500px;
  margin-left:auto;
  margin-right:auto; 
}

.hr{
  width:700px;
  margin-left:auto;
  margin-right:auto;
}